* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: Arial, sans-serif;
  background: #1a1a1a;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  padding: 20px;
}

.container {

  width: 100%;
  max-width: 550px;
}

.card {

  background: #ff6b2d;

  border-radius: 0px;

  padding: 30px;

  text-align: center;

  position: relative;

  overflow: hidden;
}

/* LOGO */

.logo {

  font-size: 14px;

  font-weight: bold;

  margin-bottom: 25px;

  line-height: 1.2;
}

/* BINNENKANT */

.inner-box {

  background: #e9e9e9;

  border-radius: 60px 60px 0 0;

  padding: 40px 20px;

  min-height: 500px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

/* VIDEO */

video {

  width: 100%;
  max-width: 320px;

  border-radius: 25px;

  background: black;

  margin-bottom: 20px;
}

/* EMOJI */

.emoji {

  font-size: 90px;

  margin-bottom: 20px;

  color: red;
}

/* BUTTON */

button {

  background: #ff6b2d;

  color: white;

  border: none;

  padding: 18px 35px;

  border-radius: 14px;

  font-size: 22px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

button:hover {

  transform: scale(1.05);
}

/* RESULT */

#result {

  margin-top: 20px;

  color: #111;

  font-size: 24px;

  font-weight: bold;
}

#confidence {

  margin-top: 10px;

  color: #555;
}

/* HISTORY */

.history {

  margin-top: 20px;
}



.history-item {

  background: #2d3748;

  padding: 15px;

  border-radius: 12px;

  margin-top: 10px;

  text-align: left;
}

/* HIDDEN */

.hidden {

  display: none;
}

/* MANUAL BUTTONS */

.manual-moods {

  margin-top: 25px;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  gap: 10px;
}

.manual-moods button {

  font-size: 16px;

  padding: 12px 18px;
}